* {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}
body{

}
#search {
  width: 60%;
  border: 3px solid black;
  border-radius: 10px;
  line-height: 20px;
  text-align: left;
}
#thing {
 /*idk lmao*/
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}
#engine {
  width:30%;
  text-align: left;
}
a{
  text-decoration: none;
}
#personal{
  text-align: right;
}
