* {
  font-family: monospace;
  word-wrap: break-word;
}
hr{
  opacity: 0.5;
}
a {
  color: #36a3d9;
}
#content{
  margin-left: 10%;
  margin-right: 10%;
}
footer {
  font-weight: bold;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 12pt;
}
code {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  width: auto;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: rgb(30, 30, 30);
  }
  input,
  select {
    color: white;
    background: black;
    border: 1px solid rgb(100, 100, 100);
  }
  #search {
    border: 3px solid rgb(100, 100, 100);
  }
}
@media (prefers-color-scheme: light) {
  code {
    color: white;
  }
}
